<h1 style="text-align: center">Twitter Sentiment Analysis</h1>

![](https://www.lexalytics.com/images/extra/sentiment1.png)

In [3]:
import numpy as np
import pandas as pd

###### The dataset is not in "UTF-8" encoding

In [6]:
train = pd.read_csv("dataset/train.csv", encoding="ISO-8859-1")
test = pd.read_csv("dataset/test.csv", encoding="ISO-8859-1")

###### Setting Pandas DataFrame to show non-truncated table

In [11]:
pd.set_option('display.max_colwidth', -1)

In [40]:
train.head()

,ItemID,Sentiment,SentimentText
0,1,0,is so sad for my APL friend.............
1,2,0,I missed the New Moon trailer...
2,3,1,omg its already 7:30 :O
3,4,0,.. Omgaga. Im sooo im gunna CRy. I've been at this dentist since 11.. I was suposed 2 just get a crown put on (30mins)...
4,5,0,i think mi bf is cheating on me!!! T_T

###### Merging test and train data to preprocess them together

In [34]:
total_data = train.append(test, ignore_index=True)

In [21]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99989 entries, 0 to 99988
Data columns (total 3 columns):
ItemID           99989 non-null int64
Sentiment        99989 non-null int64
SentimentText    99989 non-null object
dtypes: int64(2), object(1)
memory usage: 2.3+ MB

In [23]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299989 entries, 0 to 299988
Data columns (total 2 columns):
ItemID           299989 non-null int64
SentimentText    299989 non-null object
dtypes: int64(1), object(1)
memory usage: 4.6+ MB

In [22]:
total_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 399978 entries, 0 to 399977
Data columns (total 3 columns):
ItemID           399978 non-null int64
Sentiment        99989 non-null float64
SentimentText    399978 non-null object
dtypes: float64(1), int64(1), object(1)
memory usage: 9.2+ MB

In [42]:
total_data[-5:]

,ItemID,Sentiment,SentimentText
399973,299996,NaN,"@martine2323 'Morning, Petal - work brought me here (banking IT). First Holland, then here. And I just stayed... and stayed..."
399974,299997,NaN,"@martinetrene Hello,little bird! i finally started on Rick's movie this morning &amp; got to the part where you are about to save the day! &lt;3"
399975,299998,NaN,@MartinezMayra I got u at work when I go buy one u know ima get u one
399976,299999,NaN,@martinfaux He certainly gives good interview
399977,300000,NaN,@martinfaux we've the feedback about our browser compatibility story in v3 loud and clear

# 1)  Preprocessing

## 1.1)  Remove Twitter handles